.articles__page-titles {
  margin-bottom: 20px;
}
.articles__a-main-content {
  position: relative;
}
.a-main-content {
  padding: 0px 45px;
  padding-top: 360px;
  padding-bottom: 70px;
  z-index: 1;
  position: relative;
}
.a-main-content__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}
.a-main-content__text {
  padding-left: 80px;
  @include fontRalewayBold(48px, 120%);
  color: $colorWhite;
  position: relative;
}
.articles_container {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.articles__a-content {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.a-content_top {
  display: flex;
  justify-content: space-between;
  grid-gap: 15px;
  align-items: center;
}
.acticle__a-note {
  margin-top: 10px;
}
.a-content_top__block-1 {
  display: flex;
  grid-gap: 40px;
}
.a-content_top__text-1 {
  padding-left: 24px;
  &::after {
    width: 14px;
    height: 14px;
  }
}
.a-content_top__text-2 {
  @include fontRobotoBold(14px, 100%);
  color: #525a68;
}
.a-content_top__tags {
}
.product-card__top__1 {
  display: flex;
  grid-gap: 30px;
}
.a-content_top__grade {
  color: $colorBlack;
}
.a-content_top__button {
  p {
    padding: 11px 23px;
    border: 2px solid $BGButton;
    border-radius: 50px;
  }
}
.articles__a-content-main {
  @include grid(485px 1fr, 1fr);
  grid-gap: 30px;
}
.c-main__title__text {
  padding: 10px;
  @include fontRobotoBold(18px, 100%);
  color: $colorBlack;
  position: relative;
  cursor: pointer;
  display: block;
  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    width: 15px;
    height: 9px;
    background-image: url(../img/articles/chevron_down.svg);
    background-repeat: no-repeat;
  }
}
.a-content-main__left {
  height: max-content;
  background: #f7fafb;
  border-radius: 20px;
}
.a-content-main__left__body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.c-main__items {
  height: max-content;
  display: flex;
  flex-direction: column;
  // grid-gap: 5px;
}
.c-main__item {
  padding: 7px 0;
  display: block;
}
.c-main__item__text {
  padding-left: 28px;
  display: block;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #a5a9af;
  }
}
.a-content-main__right__body {
  padding: 15px 0;
}
.articles__text {
  font-size: 18px;
  line-height: 160%;
  color: $colorBlackLevel2;
}
.acticle__a-info-block {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.article-suptitle {
  @include fontRalewayBold(40px, 100%);
  color: $colorBlack;
  font-feature-settings: "pnum" on, "lnum" on;
}
.article-suptitle-h2 {
  @include fontRalewayBold(40px, 100%);
  color: $colorBlack;
}
.a-segment__body {
  padding: 25px 30px;
  padding-right: 30px;
  background-color: #f7fafb;
}
.a-segment__text {
  position: relative;
  padding-left: 100px;
  &::after {
    position: absolute;
    content: "“";
    width: 50px;
    font-size: 144px;
    height: 100%;
    top: 40px;
    left: 0;
    color: $BGButton;
  }
}
.article-suptitle-h3 {
  font-size: 36px;
}
.articles__text_after-num {
  padding-left: 55px;
  position: relative;
  &:nth-child(3) {
    &::after {
      content: "1";
    }
  }
  &:nth-child(4) {
    &::after {
      content: "2";
    }
  }
  &:nth-child(5) {
    &::after {
      content: "3";
    }
  }
  &:nth-child(6) {
    &::after {
      content: "4";
    }
  }
  &::after {
    position: absolute;
    content: "1";
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-position: center;
    color: $colorBlack;
    border: 2px solid #dae5eb;
    border-radius: 5px;
  }
}
.article-suptitle-h4 {
  font-size: 30px;
}
.article-suptitle-h5 {
  font-size: 24px;
}
.a-segment__text-2 {
  padding: 10px 0;
  padding-left: 100px;
  position: relative;
  display: block;
  &::after {
    position: absolute;
    content: " ";
    background-repeat: no-repeat;
    background-image: url(../img/articles/Group-2.svg);

    padding-left: 100px;
    width: 60px;
    height: 40px;
    top: 13px;
    left: 0;
  }
}
.acticle__a-question {
  display: flex;
  grid-gap: 30px;
}
.a-question__right-body {
  padding: 33px 0;
}
.a-question__left-block {
  width: 360px;
  height: 140px;
}
.a-question__img-p {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.a-question__text {
  cursor: pointer;
  text-decoration: underline;
  color: #525a68;
}
.article-suptitle-h5 {
  font-size: 24px;
}
.acticle__a-info-block {
  .c-main__item__text {
    &::after {
      border: 1px solid $BGButton;
      top: 6px;
    }
  }
}

.acticle__a-video {
}
.article-suptitle-h6 {
  font-size: 18px;
}
.a-video__body {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}
.a-video__left {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.a-video__block__video {
  width: 100%;
  height: 100%;
  background-color: rgb(132, 132, 132);
  video {
    width: 100%;
  }
}
.article__a-share {
  margin-top: 50px;
}
.a-share__body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 50px rgba(218, 229, 235, 0.5);
  border-radius: 5px;
}
.a-share__messengers {
  display: flex;
  grid-gap: 5px;
}
.a-share__item {
}
.a-share__left {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.a-share__item__body {
  padding: 8px 10px;
  background-color: red;
  display: block;
  border-radius: 5px;
  align-items: center;
}
.a-share__item__text {
  font-size: 12px;
  color: $colorWhite;
  padding-left: 60px;
  position: relative;
  display: block;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 10px;
    background-image: url(../img/svg/vk.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.a-share__item__body {
  &__facebook {
    background-color: #3c579e;
    .a-share__svg-1 {
      &::after {
        background-image: url(../img/footer-svg/facebook.svg);
      }
    }
  }
  &__vk {
    background-color: #426b9a;
    .a-share__svg-1 {
      &::after {
        background-image: url(../img/footer-svg/vk.svg);
      }
    }
  }
  &__twiter {
    background-color: #54acee;
    .a-share__svg-1 {
      &::after {
        background-image: url(../img/footer-svg/twitter.svg);
      }
    }
  }
  &__telegram {
    background-color: #61a8de;
    .a-share__svg-1 {
      &::after {
        background-image: url(../img/footer-svg/twitter.svg);
      }
    }
  }
  &__ok {
    background-color: #ff9800;
    .a-share__svg-1 {
      &::after {
        background-image: url(../img/footer-svg/ok.svg);
      }
    }
  }
  &__youtube {
    background-color: #ff0000;
    .a-share__svg-1 {
      &::after {
        background-image: url(../img/footer-svg/youtube.svg);
      }
    }
  }
}
.a-share__svg-1 {
}
.a-share__title {
  color: $colorBlack;
  font-size: 24px;
  @include fontRobotoRegular(24px, 100%);
}
.a-share__title-span {
  font-weight: 700;
}
.a-share__right {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  align-items: end;
}
.a-share__right__text {
  font-weight: 700;
}
.article__a-read-also {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
.a-read-also__title {
  @include fontRalewayBold(18px, 100%);
  color: $colorBlack;
}
.a-read-also__items-body {
  display: block;
  padding: 7px 0;
}
.a-read-also__items {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.a-read-also__text {
  padding-left: 36px;
  @include fontRalewayRegular(18px, 110%);
  color: $colorBlack;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../img/articles/007-pills.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.article-form {
  margin-top: 50px;
}
.acticle__footer {
  // margin-top: 300px !important;
}
.counter__butten P {
  width: 100%;
}
@media (max-width: 768px) {
}
@media (max-width: 960px) {
  .a-content_top {
    display: flex;
    flex-direction: column;
  }
  .a-content_top__block-1 {
    justify-content: space-between;
    width: 100%;
  }
  .a-content-main__left {
    order: 1;
  }
  .tag {
    display: flex !important;
  }
  .articles__a-content-main {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .a-video__left {
    grid-gap: 15px;
  }
  .a-video__body {
    margin-top: 20px;
  }
  .a-main-content {
    padding: 20px;
    padding-top: 115px;
  }
  .a-main-content__text {
    font-size: 14px;
    padding: 0;
  }
  .vector {
    top: -45px;
    width: 30px;
    height: 30px;
    background-size: 9px;
  }
  .a-content_top__block-3 {
    width: 100%;
  }
  .product-card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-card__top__1 {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
  .a-content_top__grade {
    order: 1;
  }
  .articles__text {
    font-size: 14px;
  }
  .articles__a-content-main {
    grid-gap: 20px;
  }
  .a-content-main__left__body {
    padding: 20px;
  }
  .article-suptitle-h2 {
    font-size: 28px;
  }
  .acticle__a-info-block {
    grid-gap: 20px;
  }
  .a-segment__body {
    padding: 20px;
  }
  .a-segment__text {
    padding: 0;
  }
  .a-segment__text::after {
    font-size: 46px;
    top: 0;
    left: -30px;
  }
  .note__body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .note-card:first-child:before,
  .note-card:nth-child(2):before {
    top: 89%;
    left: 90px;
  }
  .counter__butten P {
    max-width: 100%;
  }
  .article-suptitle-h3 {
    font-size: 22px;
  }
  .articles__text_after-num::after {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
  .articles__text_after-num {
    padding-left: 45px;
  }
  .article-suptitle-h4 {
    font-size: 20px;
  }
  .a-segment__text-2 {
    padding-left: 10px;
  }
  .a-segment__text-2::after {
    background-size: 20px;
    top: 20px;
    left: -29px;
  }
  .article-suptitle-h5 {
    font-size: 18px;
  }
  .acticle__a-question {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
  }
  .a-question__right-body {
    padding: 5px 0;
  }
  .a-question__right-body .main-title {
    font-size: 24px;
  }
  .a-question__right-body .articles__text {
    font-size: 18px;
  }
  .article__a-share {
    margin-top: 10px;
  }
  .article-suptitle-h6 {
    font-size: 16px;
  }
  .a-video__body {
    display: flex;
    flex-direction: column;
  }
  .a-share__title {
    font-size: 18px;
  }
  .a-video__right {
    height: 160px;
  }
  .a-share__body {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
  .a-share__right {
    align-items: center;
  }
  .a-share__messengers {
    @include grid(1fr 1fr, auto);
  }
  .article__a-read-also {
    margin-top: 0;
  }
  .article__a-read-also {
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
}
.a-table {
  width: 100%;
}
.a-table__tr-1 {
  background-color: $BGButton;
}
.a-table__td__1 {
  display: inline-block;
  width: 10px;
  height: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/articles/chevron_down.svg);
}
.a-table__td-1 {
  padding: 16px;
  color: $colorWhite;
  @include fontRobotoRegular(14px, 100%);
}
.a-table__td {
  position: relative;
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #e6e7e9;
  }
  &::after {
    top: 0;
  }
  &::before {
    bottom: 0;
  }
}
.a-table__tbody {
  .a-table__tr:nth-child(odd) {
    background-color: #f9fafc;
  }
}
.a-table__tr {
  cursor: pointer;
}
.a-table__td {
  padding: 16px;
  @include fontRobotoRegular(14px, 100%);
  color: $colorBlack;
}

@media (max-width: 768px) {
  .a-table__block {
    margin: 0px -15px;
  }
  .a-table__tr-1 {
    .a-table__td-1:nth-child(n + 4) {
      background-color: red;
      display: none;
    }
  }
  .a-table__tr {
    .a-table__td:nth-child(n + 4) {
      background-color: red;
      display: none;
    }
  }
  .people-review__top {
    @include grid(1fr 1fr, auto);
  }
  .people-review__like-block {
    // order: 2;
    grid-column-start: 2fr;
    grid-column-end: 2fr;
    grid-row-start: 2fr;
    grid-row-end: 2fr;
  }
  .people-review__date {
    // order: 3;
  }
  .second-block__item__stars {
    // order: 4;
  }
  .people-review__answer-1 {
    display: none;
  }
  .people-revuew__body {
    padding-bottom: 20px;
  }
  .people-review__answer-2 {
    display: block;
  }
  .reviews_feedback__body {
    padding: 0px;
  }
  .people-reviews .people-review:nth-child(even) {
    padding: 20px;
  }
}
.c-main__title__text::before {
  transform: rotate(180deg);
}
.active::before {
  transform: rotate(0deg);
}
.c-main__items.active {
  height: 0px;
  transition: all 5s ease-out;
  overflow: hidden;
}
