.categories {
  margin-top: 30px;
}
.categories-main {
  padding-bottom: 50px;
}
.categories__main-grid {
  @include grid(280px 1fr, 1fr);
  grid-gap: 30px;
}
.categories__right {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.categories__categories-block {
  box-shadow: 0px 5px 20px rgba(11, 54, 29, 0.1);
  border-radius: 5px;
}
.categories-block__items {
  display: flex;
  flex-direction: column;
}
.categories-block__items {
  & > li:nth-child(n + 4) {
    display: none;
  }
}
.categories-block__item-svg-2 {
  width: 9px !important;
  height: 8px !important;
  background-size: 12px !important;
  top: 23px !important;
  background-image: url(../img/svg/chevron_duo_down.svg) !important;
}
// .categories-block__items__button .active {
//   background-color: red;
//   .categories-block__item-svg {
//     transform: rotate(180deg);
//   }
// }
.categories-block__items.active {
  & > li:nth-child(n + 4) {
    display: block;
  }
}
.categories-block__item {
  position: relative;
}
.categories-block__item::after,
.categories-block__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  left: 0px;
}
.categories-block__item::after {
  top: 0px;
}
.categories-block__item::before {
  bottom: 0px;
}
.position-items__position-block {
  box-shadow: 0px 0px 40px rgba(11, 54, 29, 0.1);
}
.position-items {
  position: relative;
}
.categories-block__item-body {
  height: 100%;
  width: 100%;

  display: block;
  p {
    padding: 20px;
    padding-left: 40px;
    width: -moz-available;
    width: -webkit-fill-available;
    position: relative;
    display: inline-block;
    @include fontRalewayRegular(14px, 110%);
  }
}
.position-item__block {
  position: relative;
  width: 280px;
  background-color: $colorWhite;
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #f5f5f5;
    left: 0px;
  }
  &::after {
    top: 0;
  }
  &::before {
    bottom: 0;
  }
}
.position-items__position-block {
  display: none;
}
.categories-block__item-body:hover {
  & > p {
    background-color: #71c476;
    @include fontRalewayBold(14px, 110%);
    color: $colorWhite;
  }
  .position-items__position-block {
    display: block;
    z-index: 1;
  }
}

.position-items__position-block {
  position: absolute;
  // display: none;
  top: 0;
  left: 100%;
  width: max-content;
  height: max-content;
}
.position-item__link {
}
.position-item__link:hover {
  background-color: #71c476;
  @include fontRalewayBold(14px, 110%);
  color: $colorWhite;
}
.categories-block__item-svg {
  position: absolute;
  top: 26px;
  left: 20px;
  width: 3px;
  height: 5px;
  background-image: url(../img/categories/Vector.svg);
  background-repeat: no-repeat;
}
.section__block-title {
  padding: 20px;
}

.categories-block__item__button {
  background-color: $BGButton;
}
.categories-block__items__button {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: block;
  p {
    text-transform: uppercase;
    background-color: $BGButton;
    color: $colorWhite;
    padding: 20px;
    padding-left: 40px;
    width: -webkit-fill-available;
    width: -moz-available;
    position: relative;
    display: inline-block;
    font-family: "Raleway-Regular";
    font-size: 14px;
    line-height: 110%;
    font-weight: 400;
  }
}
.categories__left {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.categories__filter-block {
  box-shadow: 0px 5px 20px rgb(11 54 29 / 10%);
  border-radius: 5px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.filter__title {
  padding: 15px 10px !important;
  width: inherit;
  &.active {
    background-color: #e7e9eb;
    border-radius: 5px;
  }
}
.section__block-title {
  position: relative;
  &::after {
    content: none;
  }
}
.section__title {
  letter-spacing: 0.05em;
}
.filter__block {
}
.section__title {
  position: relative;
}
.filter__item-svg {
  position: absolute;
  top: 18px;
  right: 10px;
  background-image: url(../img/categories/caret_down.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 9px;
}
.categories__filter {
  position: relative;
  display: none;
}
.categories__filter.active {
  display: block;
}
.filter__values {
  display: none !important;
  @include grid(1fr, auto);
  grid-gap: 10px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 40px;
}
.filter__values.active {
  display: grid !important;
}
.filter__title.active {
  .filter__item-svg {
    transform: rotate(180deg);
  }
}
.filter__values__input {
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e7e9eb;
    border-radius: 5px;
  }
}
.country__items {
  padding: 20px 0;
  width: 100%;
  display: none;
  flex-direction: column;
  grid-gap: 10px;
}
.country__items.active {
  display: flex;
}
.filter__input {
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  background-color: red;
}
.filter__checkbox-label {
  padding: 10px;
  margin-left: 10px;
}
.availability__item__label {
  padding: 10px;
}
.availability__item__label.active {
  color: $BGButton;
}
.filter__checkbox-label.active {
  color: $BGButton;
}
// .filter__checkbox-label {
//   position: relative;
//   display: inline-block;
//   padding-left: 30px;
//   cursor: pointer;
//   vertical-align: top;
//   &::before {
//     content: "";
//     position: absolute;
//     top: -2px;
//     left: 0;
//     width: 18px;
//     height: 18px;
//     border: 1px solid #e7e9eb;
//     border-radius: 5px;
//   }
// }
// .filter-input-checkbox:checked + label::before {
//   background: url(../img/footer-svg/facebook.svg) no-repeat 3px 2px;
//   background-size: 12px;
// }

.categories__availability {
}
.availability__item__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 19px;
  height: 19px;

  border: 1px solid #e7e9eb;
  border-radius: 20px;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;

  &:checked {
    // padding: 2px;
    // border: 6px solid black;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 4px;
      left: 4px;
      width: 9px;
      height: 9px;
      background-color: #71c476;
      border-radius: 50%;
    }
  }
  &legend {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }
}
.bestseller__img {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
  }
  &::after {
    top: 0px;
  }
}
.second-block__item {
}
.bestseller__body {
  padding: 10px;
  background: #f7fafb;
  border-radius: 5px;
}
.bestseller__block {
  grid-gap: 10px;
  margin-top: 20px;
}
.bestseller__price {
  width: max-content;
}
.availability__items {
  display: none;
  flex-direction: column;
  grid-gap: 10px;
  padding-bottom: 25px;
  padding-top: 10px;
}
.availability__items.active {
  display: flex;
}
.impact__search {
  padding: 20px 0;
  display: none;
}
.filter__checkbox-label {
  cursor: pointer;
}
.impact__search.active {
  display: block;
}
.impact__search__body {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 16px;
    right: 20px;
    background-image: url(../img/categories/search.svg);
    width: 11px;
    height: 11px;
  }
}
.impact__search__input {
  padding: 10px 10px;
  padding-right: 25px;
  border: 1px solid #e7e9eb;
  border-radius: 5px;
}
.section__margin {
  margin-top: 20px;
  transition: all 1s ease-out;
}
.catalog__items {
  @include grid(repeat(4, 1fr), 1fr 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 30px;
}
.catalog__item__body {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  padding: 5px;
  border: 1px solid #e7e9eb;
  border-radius: 5px;
}
.catalog__img {
  opacity: 0.7;
}
.catalog__item__text {
  @include fontRalewayRegular(13px, 100%);
  color: $colorBlack;
  padding: 10px 15px;
  padding-left: 0px;
}
.brands__items {
  @include grid(repeat(7, 1fr), auto);
  grid-gap: 10px;
  height: 100px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #e7e9eb; /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: blue;
    background: linear-gradient(180deg, #fec200 0%, #71c476 100%);
    border-radius: 5px;
  }
}

.categories__sort {
  display: flex;
  padding: 17px;
  background: #f7fafb;
  border-radius: 5px;
  justify-content: space-between;
}
.sort__left {
  display: flex;
  grid-gap: 30px;
}

.sort__price {
  color: #71c476;
  font-weight: 700;
  display: flex;
  grid-gap: 10px;
}
.sort__hover {
  &:hover {
    color: #71c476;
  }
}
.sort__price__svg-block {
  display: flex;
  width: 15px;
  height: 10px;
  margin-top: 4px;
  position: relative;
  span {
    position: absolute;
    background-color: #82ca86;
    height: 2px;
    width: 10px;
    top: 4px;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    background-color: #82ca86;
    height: 2px;
    width: 6.5px;
  }
  &::after {
    top: 0px;
  }
  &::before {
    bottom: 0px;
  }
}
.sort__right {
  display: flex;
  grid-gap: 5px;
}
.sort__page {
  padding: 0px 5px;
  box-shadow: 0px 5px 10px rgba(11, 54, 29, 0.05);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  width: 27px;
  font-size: 13px;
  p {
    display: inline-block;
  }
  &:hover {
    color: #6fcf97;
    p {
      font-weight: 700;
    }
  }
}
.product-filter {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.product-filter__block {
  @include grid(repeat(4, 1fr), auto);
  grid-gap: 30px;
}
.product-filter__block-2 {
  @include grid(1fr, 1fr);
}
.product-filter__2 {
  background-color: #f7fafb;
}
.categories__blocks {
  padding: 20px 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #f7fafb;
}
.section-margin {
  margin-top: 60px;
}
.product-filter__bottom {
  padding: 17px;
  background: #f7fafb;
  border-radius: 5px;
}
.categories__left__b-button-top {
}
.cb-button-top {
  background-color: $BGButton;
}
.cb-button-bottom {
  background-color: $headerLogoTitle;
}
.cb-button {
  display: none;
  div {
    border-radius: 5px;
  }
  p {
    padding: 6px 0;
  }
}
.rc-button {
  display: none;
}

@media (max-width: 960px) {
  .categories-block__item-body:hover .position-items__position-block {
    display: none;
  }
  .cl-modal {
    padding: 20px;
  }
  .categories__filter-block {
    box-shadow: none;
  }
  .categories__filter-block {
    padding: 0;
  }
  .categories__left {
    grid-gap: 10px;
  }
  .rc-button {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }
  [data-catalog].active {
    height: max-content;
    &::after {
      content: none;
    }
    padding-bottom: 20px;
  }
  .bestseller__body {
    padding: 20px 10px;
  }
  .cb-button {
    display: block;
  }
  .categories__bestseller {
    margin-top: 20px;
  }
  .categories__main-grid {
    grid-template-columns: 1fr;
  }
  .catalog__items {
    grid-template-columns: 1fr;
  }
  .catalog__items {
    height: 210px;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 100%
      );
    }
  }
  .impact__search__body::after {
    right: 10px;
  }
  .impact__search__input {
    width: 100%;
  }
  .brands__items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .categories__sort {
    flex-direction: column;
    grid-gap: 20px;
  }
  .sort__left {
    display: flex;
    flex-wrap: wrap;
    .sort__left__body {
      flex: 0 1 100%;
    }
  }
  .cr-products {
    grid-template-columns: 1fr 1fr;
  }
  .cr-capab {
    @include grid(1fr 1fr, auto);
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
  .brands__items {
    grid-template-columns: 1fr 1fr;
  }
  .cr-products {
    grid-template-columns: 1fr;
  }
  .cr-capab {
    @include grid(1fr, auto);
    grid-gap: 20px;
  }
}
.categories__filter-block {
  .section__block-title {
    padding: 20px 0;
    padding-bottom: 15px;
  }
}

/* ******************************************** */
@mixin range-slider(
  $width,
  $height,
  $input-top,
  $input-bg-color,
  $input-thumb-color,
  $float: none,
  $input-height: 20px,
  $input-border-radius: 14px
) {
  position: relative;
  width: $width;
  height: $height;
  float: $float;
  text-align: center;

  input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: $input-border-radius;
    background: $input-bg-color;
    box-shadow: inset 0 1px 0 0 darken($input-bg-color, 15%),
      inset 0 -1px 0 0 darken($input-bg-color, 10%);
    -webkit-box-shadow: inset 0 1px 0 0 darken($input-bg-color, 15%),
      inset 0 -1px 0 0 darken($input-bg-color, 10%);
    overflow: inherit;
    left: 0;
    top: $input-top;
    width: $width;
    outline: none;
    height: $input-height;
    margin: 0;
    padding: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    border-radius: $input-border-radius;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, lighten($input-thumb-color, 60%)),
      color-stop(100%, $input-thumb-color)
    ); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(
      top,
      lighten($input-thumb-color, 60%) 0,
      $input-thumb-color 100%
    ); /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(
      to bottom,
      lighten($input-thumb-color, 60%) 0,
      $input-thumb-color 100%
    ); /* W3C */
  }

  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    border-radius: $input-border-radius;
    background-image: linear-gradient(
      to bottom,
      lighten($input-thumb-color, 60%) 0,
      $input-thumb-color 100%
    ); /* W3C */
  }

  input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: $input-height;
    height: $input-height;
    border-radius: $input-border-radius;
    border: 0;
    background-image: linear-gradient(
      to bottom,
      lighten($input-thumb-color, 60%) 0,
      $input-thumb-color 100%
    ); /* W3C */
  }

  input[type="range"]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
  }

  input[type="range"]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  }

  input[type="range"]::-moz-focus-outer {
    border: 0;
  }
}

section.range-slider {
  width: 100% !important;
  @include range-slider(300px, 300px, 50px, #f1efef, #413f41, left);
}
.range-slider__prices {
  @include grid(1fr 1fr, auto);
  grid-gap: 10px;
}
.filter__values {
  display: flex;
  flex-direction: column;
}
.range-slider__price__start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  input {
    width: 100%;
    height: 100%;
    border: 1px solid #e7e9eb;
    border-radius: 5px;
    padding-left: 10px;
  }
}
.range-slider {
  height: max-content !important;
  margin-top: -42px;
  input {
    width: 100% !important;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 15px !important;
      width: 15px !important;
      border-radius: 10px;
      background: $colorWhite !important;
      cursor: pointer;
      border: 3px solid $BGButton !important;
      margin-top: -2px !important;
    }
  }
  & > input:last-child {
    &::-webkit-slider-thumb {
      border: 3px solid #fec200 !important;
    }
  }
}
.section.range-slider input[type="range"] {
  overflow: inherit !important;
}
.rangeValues__input-1 {
  background: linear-gradient(90deg, #71c476 0%, #fec200 100%) !important;
  border-radius: 5px;
  height: 6px !important;
}
.rangeValues__input-2 {
  background: linear-gradient(90deg, #71c476 0%, #fec200 100%) !important;
  border-radius: 5px;
  height: 6px !important;
  &::-webkit-slider-thumb {
    background: red !important;
  }
}
.categories__block_item {
  background-color: #f7fafb;
}
