.delivery-page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
.delivery {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.delivery__body {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.delivery__items {
  @include grid(repeat(6, 1fr), auto);
  grid-column-gap: 40px;
  grid-row-gap: 10px;
}
.d-fragmen__body {
  background-color: #f7fafb;
  padding: 30px;
}
.d-fragmen__text-body {
  padding-left: 260px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: -26px;
    left: 0;
    background-image: url(../img/delivery/delivery-1.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 228px;
    height: 140%;
  }
}
.d-fragmen__text-body {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.d-fragmen__title {
  @include fontRalewayBold(24px, 100%);
}
.d-delivery__suptitle {
}
.delivery__d-delivery {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.d-service__body {
  // @include grid(repeat(4, 1fr), auto);
  grid-gap: 30px;
}
.d-service__items {
  @include grid(repeat(4, 1fr), 1fr);
  grid-gap: 30px;
}
.d-service__item__body {
  padding: 70px 0;
  position: relative;
}
.d-service__item__text {
  font-size: 16px;
  color: $colorBlackLevel1;
  padding: 0px 80px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: -11px;
    left: 0;
    width: 60px;
    height: 62px;
    background-position: center;
    background-repeat: no-repeat;

    background-image: url(../img/delivery/chat.svg);
  }
  &::before {
    position: absolute;
    content: "";
    top: -28px;
    right: 28px;
    width: 100px;
    height: 100px;
    background: linear-gradient(
      225deg,
      rgba(111, 207, 151, 0.2) 5.81%,
      rgba(111, 207, 151, 0) 42.17%
    );
    border-radius: 20px;
    transform: rotate(45deg);
  }
  &-2 {
    &::after {
      background-image: url(../img/delivery/Group-2.svg);
    }
  }
  &-3 {
    &::after {
      background-image: url(../img/delivery/customer-service.svg);
    }
  }
  &-4 {
    &::after {
      background-image: url(../img/delivery/delivery-courier.svg);
    }
  }
}
.d-info__body {
  @include grid(repeat(2, 1fr), auto);
  grid-gap: 30px;
}
.d-info__item-body {
  margin-top: 40px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-color: $BGButton;
    background-image: url(../img/delivery/1-capsules.svg);
    border-radius: 50%;
    background-position: center;
  }
  &-2 {
    &::after {
      background-image: url(../img/delivery/2-pharmacy.svg);
    }
  }
  &-3 {
    &::after {
      background-image: url(../img/delivery/3-ayurvedic.svg);
    }
  }
  &-4 {
    &::after {
      background-image: url(../img/delivery/4-injection.svg);
    }
  }
}
.delivery__d-exchange {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.d-exchange__ul .articles__text {
  position: relative;
  padding-left: 26px;
  &::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid $BGButton;
  }
}
.d-exchange__error {
  position: relative;
  padding-left: 35px;
  &::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    border-radius: 50%;
    background-image: url(../img/delivery/error_outline.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}
.delivery__d-medicine {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 30px;
}
.d-medicine__text-body {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.d-medicine__title {
  font-family: "Roboto-Bold";
  color: $colorBlack;
}
.d-pickup__top {
  margin-top: 30px;
}
.delivery__d-text {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.d-text__title {
  @include fontRalewayBold(18px, 100%);
  color: $colorBlack;
}
@media (max-width: 768px) {
  .delivery__items {
    @include grid(repeat(3, 1fr), auto);
  }
  .mini-section__title {
    font-size: 18px;
  }
  .d-fragmen__text-body {
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 230px;
  }
  .d-fragmen__text-body {
    grid-gap: 10px;
  }
  .d-fragmen__body {
    padding: 0px;
  }
  .d-fragmen__text-body::after {
    background-position: bottom left;
    top: 200px;
    height: 211px;
    left: 30px;
  }
  .delivery__d-delivery .mini-section__title {
    font-size: 14px;
  }
  .d-service__items {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }
  .d-service__item__body {
    padding: 10px 0;
  }
  .d-info__body {
    display: flex;
    flex-direction: column;
  }
  .d-info__item-body {
    padding-left: 0px;
    padding-top: 50px;
    margin-top: 0px;
  }
  .d-info__item-body::after {
    width: 40px;
    height: 40px;
    background-size: 17px;
  }
  .delivery__d-exchange {
    grid-gap: 20px;
  }
  .delivery__d-medicine {
    display: flex;
    flex-direction: column;
  }
  .d-fragmen__body {
    padding: 20px;
    border-radius: 20px;
  }
  .d-medicine__text-body {
    grid-gap: 20px;
  }
  .d-pickup__top {
    margin-top: 10px;
  }
}
.delivery__d-table {
  width: 100%;
}
.d-table__table {
  width: 100%;
  @include fontRobotoRegular(14px, 110%);
}
.d-table__th-1 {
  width: 70%;
}
.d-table__head {
  background-color: #f7fafb;
}
.d-table__th-p {
  padding: 15px 20px;
  width: max-content;
  color: $colorBlackLevel1;
}
.d-table__td-p {
  padding: 15px 20px;
}
.d-table__td-p-1 {
  font-size: 18px;
  color: #333333;
}
.d-table__td-span {
  font-weight: 700;
}
@media (max-width: 480px) {
  .delivery__items {
    @include grid(repeat(2, 1fr), auto);
  }
}
@media (max-width: 768px) {
  .d-table__head {
    @include grid(1fr 1fr, auto);
  }
  .d-table__body {
    @include grid(1fr 1fr, auto);
  }
  .d-table__th-p {
    padding: 20px 10px;
  }
  .d-table__td-p {
    padding: 20px 10px;
  }
}
