.svg {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: contain;
}
.button {
  @include fontRalewayBold(14px, 110%);
  color: $colorWhite;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 41px;
  background-color: $BGButton;
  outline: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(47, 211, 174, 0.1);
  border-radius: 50px;
}
p,
a,
li,
h1,
h2,
h3,
h4,
h5 {
  font-feature-settings: "pnum" on, "lnum" on;
}
.img {
  max-width: 100%;
  border: 0;
  height: auto;
}
.img-p {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: pan-y;
}

.slider img {
  poiner-events: none;
}

.slider-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
}
.slide__header_1 {
  width: max-content;
  height: 100%;
  flex-shrink: 0;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
// slide header__bottom__slide
.slider-arrows {
  margin-top: 15px;
  text-align: center;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: 0.25;
  pointer-events: none;
}
.slider-arrows {
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  margin: 0;
  @media (max-width: 768px) {
    top: 33px;
  }
}

.header__bottom__slider-arrows {
  display: flex;
  background-color: #f6fbfa;
  padding-left: 20px;
  background: linear-gradient(270deg, #f7fafb 0%, rgba(247, 250, 251, 0) 100%);
  opacity: 0.9;
  height: 100%;
  align-items: center;
}
.prev {
  display: flex;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/prev.svg);
}
.next {
  display: flex;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/next.svg);
}

.main-title {
  @include fontRalewayBold(36px, 120%);
  color: $colorBlack;
}
@media (max-width: 768px) {
  .main-title {
    font-size: 18px;
  }
}
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $colorWhite;
  border: 1px solid $BGButton;
  margin-left: 10px;
}

.page__title {
  margin-top: 20px;
}
.section__title {
  @include fontRalewayBold(14px, 110%);
  color: $colorBlack;
  text-transform: uppercase;
}
.line__top-bottom {
  position: relative;
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 113%;
    height: 1px;
    background-color: #f5f5f5;
    left: -7%;
  }
  &::after {
    top: 0;
  }
  &::before {
    bottom: 0;
  }
}
.button__link {
  padding: 17px 41px 16px;
  display: block;
  @include fontRobotoBold(14px, 100%);
  color: $colorWhite;
  background-color: $BGButton;
  text-transform: uppercase;
  position: relative;
  &:hover {
    color: $colorWhite;
  }
}
.button__link__svg {
  background-image: url(../img/svg/chevron_duo_right.svg);
  position: absolute;
  background-repeat: no-repeat;
  top: 17px;
  left: 17px;
  width: 9px;
  height: 9px;
}
@media (min-width: 768px) {
  .n768-none {
    display: none !important;
  }
}

.SBtn {
  cursor: pointer;
}
.vector {
  position: absolute;
  top: 30px;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: $BGButton;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  &-bottom {
    background-image: url(../img/articles/vector-1.svg);
  }
}
.after {
  display: block;
  position: relative;
  padding-left: 40px;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url(../img/articles/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}
.before {
  display: block;
  position: relative;
  padding-right: 40px;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-image: url(../img/articles/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}
.padding-none {
  padding: 0px !important;
}
