// personal-area
.personal-area__a-main {
  @include grid(360px 745px, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}
.a-main__a-left {
}
.a-left__items {
  border: 1px solid #e7e9eb;
  border-radius: 5px;
}
.a-left__item:nth-child(even) {
  background: #f7fafb;
  border-radius: 5px;
}
.a-left__item {
}
.a-left__item-body {
  padding: 0 20px;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.a-left__text {
  @include fontRobotoBold(14px, 100%);
  color: $colorBlackLevel1;
  text-transform: uppercase;
}
.feedback__title {
  padding: 0;
}
.a-right__a-content {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.a-content__input {
  width: 100%;
  padding: 17px 20px;
  border: 1px solid #c7cfe3;
  border-radius: 30px;
  width: -webkit-fill-available;
  width: -moz-available;
}
.a-content__input-block {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: -3px;
    right: 30px;
    width: 8px;
    border-radius: 50%;
    height: 8px;
    background: #dd8888;
  }
}
.a-content__block-inputs {
  @include grid(1fr 2fr 1fr 2fr, 1fr);
  grid-gap: 30px;
}
.a-content__input-item {
  width: 100%;
  display: flex;
}
.a-content-i {
  width: 100%;
  padding: 17px 20px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: 1px solid #c7cfe3;
  border-radius: 30px;
  width: 100%;
}
.a-main__a-right {
  display: flex;
  flex-direction: column;
  grid-gap: 70px;
}
.feedback__body {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  margin-top: 30px;
  padding: 40px;
  box-shadow: 0px 10px 40px rgba(11, 54, 29, 0.05);
  border-radius: 20px;
}
.feedback__text-1 {
  @include fontRobotoRegular(18px, 133%);
  color: $colorBlackLevel1;
}
.feedback__text-2 {
  @include fontRobotoRegular(14px, 133%);
  color: $colorBlackLevel2;
}
.a-content__bottom {
  display: flex;
  align-items: center;
  grid-gap: 30px;
}
.a-content__flex {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 30px;
}
.a-ch-order__price {
  display: flex;
  flex-direction: column !important;
  grid-gap: 3px !important;
}
.pa__order__card_1 {
  padding-right: 0px !important;
  padding-bottom: 10px;
}
.pa__order__price {
  .ch-order__card_2 {
    position: absolute;
    top: 15px;
    right: none;
    left: 0;
    height: 100%;
  }
}
.ch-order__td-1 {
  display: flex;
  grid-gap: 65px;
}
.ch-order__td-1_1 {
  @include fontRobotoBold(14px, 100%);
  color: $colorBlackLevel2;
}
.ch-order__table {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.ch-order__tr-1 {
  display: flex;
  justify-content: space-between;
}
.ch-order__td-2 {
  display: flex;
  @include fontRobotoBold(14px, 100%);
  color: $BGButton;
}
.a-right__suptitle {
  text-transform: uppercase;
  @include fontRobotoBold(12px, 100%);
  color: $colorBlackLevel2;
}
.ch-order__cht-bottom {
  @include grid(1fr 1fr, 1fr);
  grid-gap: 30px;
}
.cht-bottom__button {
  background-color: $colorWhite;
  color: $colorBlack;
  outline: 2px solid $BGButton;
}
.personal-area__order-b {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
@media (max-width: 960px) {
  .personal-area__a-main {
    display: flex;
    flex-direction: column;
  }
  .a-content__block-inputs {
    @include grid(1fr 2fr, auto);
  }
  .a-content__block-button {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .ch-order__cht-bottom {
    @include grid(1fr, auto);
    grid-gap: 10px;
  }
  .personal-area__a-main {
  }
  .a-content__block-inputs {
    grid-gap: 10px;
  }
  .a-right__a-content {
    grid-gap: 20px;
  }
  .a-content__button {
    width: 100%;
    order: 1;
  }
  .feedback__body {
    padding: 20px;
  }
  .a-content__flex {
    display: flex;
    flex-direction: column;
  }
  .a-content__bottom {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
}
