@media (max-width: 960px) {
  .popup__text {
    font-size: 21px;
  }
  .popup__close {
    top: 5px;
    right: 5px;
  }
}
@media (max-width: 960px) {
  .popup__content {
    // padding: 10px;
  }
  .popup__text {
    font-size: 18px;
  }
}
body.lock {
  overflow: hidden;
}
/* ********* new-popup ********** */
.popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 12;
  overflow-y: auto;

  // opacity: 0;
  // visibility: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  // opacity: 1;
  // visibility: visible;
}
.popup__request.opens {
  // opacity: 1;
  // visibility: visible;
}
.popup.open .popup__content {
  // transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}
.popup__request.opens .popup__content__request {
  // transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content {
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  -moz-box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  border-radius: 15px;
}
.popup-new {
  width: 810px;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  background-color: $colorWhite;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.popup-new__body {
  padding: 60px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.popup-new__top {
  display: flex;
  justify-content: space-between;
}
.popup-new__title {
  @include fontRalewayBold(18px, 110%);
  color: $colorBlack;
}
.popup-new__close__svg {
  width: 12px;
  height: 12px;
  padding: 10px;
  background-image: url(../img/svg/Close.svg);
  background-repeat: no-repeat;
}
.popup-new__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "n n e  e" "t t t t" "b bt bt bt";
  grid-gap: 20px;
  .popup-new__input {
    padding: 17px 20px;
    width: -webkit-fill-available;
    width: -moz-available;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
  }
  .popup-new__block-name {
    grid-area: n;
  }
  .popup-new__block-email {
    grid-area: e;
  }
  .popup-new__block-text {
    grid-area: t;
  }
  .popup-new__bottom-block {
    grid-area: b;
  }
  .popup-new__bottom-block__text {
    grid-area: bt;
  }
}
.popup-new__input {
}
input::placeholder {
  color: #828282;
}
.popup-new__bottom-block__text {
  display: flex;
  align-items: center;
}
.popup-new__bottom-text {
  font-size: 12px;
  max-width: 330px;
}
.popup-new__bottom-span {
  color: $BGButton;
}

@media (max-width: 768px) {
  .popup {
  }
  .popup__block-body__request {
    padding: 50px 10px 20px;
  }
  .popup-new__text {
    font-size: 14px;
  }
  .popup-new__body {
    padding: 20px;
  }
  .popup-new__form {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "n n"
      "e e"
      "t t"
      "bt bt"
      "b b";
    grid-gap: 20px;
  }
  .popup-new__bottom-block__text {
    display: flex;
    justify-content: center;
  }
  .popup-new__bottom-text {
    max-width: 100%;
  }
}

/* **** personal-area **** */
.personal-area {
  display: flex;
  grid-gap: 50px;
}
.personal-area__suptitle {
  @include fontRalewayBold(14px, 100%);
  color: $BGButton;
  text-decoration: underline;
}
.personal-area__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "n n n" "e e e" "b bt bt";
  grid-gap: 20px;
}
.personal-area__input-b {
  position: relative;
}
.personal-area__input-b::after {
  position: absolute;
  content: "";
  top: -3px;
  right: 30px;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  background: #dd8888;
}
.registration__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "n n n" "e e e" "r r r" "b bt bt";
  grid-gap: 20px;
  .registration__input-b_1 {
    grid-area: r;
  }
}
.order__popup {
  width: 815px;
  height: auto;
}
.order {
  display: flex;
  grid-gap: 20px;
  margin-top: 20px;
}
.order__right {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.order__counter {
  display: flex;
  align-items: center;
}
.product-card__price-block {
  .order__price {
    margin-top: 0px;
  }
}
.product-card__img.order__left__img {
  &::after {
    font-size: 12px;
  }
}
.order__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "n e b" "bt bt bt";
  grid-gap: 20px;
}
.order__form__text {
  max-width: 100%;
}
.order__right .order__right__top {
  justify-content: flex-start;
}
.thanks__popup {
  width: 510px;
  position: relative;
  overflow: hidden;
}
.thanks__popup__body {
  padding: 80px;
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: -85%;
    left: -24%;
    width: 538px;
    height: 538px;
    background: rgba(47, 211, 174, 0.2);
  }
}
.thanks__text {
  @include fontRalewayBold(48px, 115%);
  color: $colorBlack;
  position: relative;
}
.thanks__svg {
  position: absolute;
  top: -70%;
  left: 0px;
  width: 48px;
  height: 30px;
  background-repeat: no-repeat;

  background-image: url(../img/svg/done_all.svg);
}
.call-back {
  width: 860px;
}
.call-back__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "n e b"
    "bt bt bt";
  grid-gap: 20px;
}
.call-back__button {
  width: 100%;
}
.call-back__text {
  max-width: 100%;
}

.cities {
  max-width: 850px;
  height: auto;
}
.cities__items {
}
.cities__body {
  height: auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.city__input-block {
  width: 100%;
  position: relative;
}
.city__input__svg {
  content: "";
  position: absolute;
  top: 21px;
  left: 21px;
  width: 14px;
  height: 14px;
  background-image: url(../img/svg/search-1.svg);
  background-repeat: no-repeat;
}
.city__input {
  padding: 18px 47px;
  padding-right: 20px;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
}

.cities__items {
  @include grid(repeat(5, 1fr), auto);
  grid-row-gap: 10px;
  grid-column-gap: 32px;
}
.city__item {
  @include fontRalewayRegular(14px, 100%);

  color: #696a6b;
  height: 30px;
  &:hover {
    color: $BGButton;
    @include fontRobotoBold(14px, 100%);
  }
}
.city {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  .cities {
    width: 100%;
    // padding-top: 280px;
  }
  .order {
    flex-direction: column;
  }
  .order__form {
    display: flex;
    flex-direction: column;
  }
  .cities__items {
    @include grid(repeat(3, 1fr), auto);
  }
  .service-page__grid {
    @include grid(repeat(2, 1fr), auto);
    grid-gap: 40px;
  }
  .thanks__popup {
    padding: 0px;
  }
  .thanks__popup__body {
    padding: 60px;
  }
}
@media (max-width: 480px) {
  .cities {
    // padding-top: 450px;
  }
  .cities__body {
    padding: 20px;
  }
  .cities__items {
    @include grid(repeat(2, 1fr), auto);
  }
  .service-page__grid {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }
}
.popup-new {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .popup-new {
    width: 100%;
  }
  .personal-area__form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "n "
      "e "
      "bt"
      "b";
  }
  .call-back__form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "n "
      "e "
      "bt"
      "b";
  }
}
